[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"django-bootstrap4" = "*"
django-registration = ">=3.0"
django-templated-email = "*"
django-crontab = "*"
django-environ = "*"
"pyasn1" = "*"
social-auth-app-django = "*"
slackweb = "*"
aiohttp = "*"
Django = ">=2.0"

[dev-packages]

[requires]
python_version = "3.6"
