<nav class="navbar navbar-dark sticky-top bg-dark navbar-expand-lg">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'sites:list' %}">Yagura</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="nav justify-content-end ml-auto">
      <li class="nav-item dropbox">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user.full_name|default:request.user }}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button"><a href="{% url 'accounts:profile' %}">{% trans 'Profile' %}</a></button>
          <button class="dropdown-item" type="button"><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></button>
        </div>
      </li>
    </ul>
  </div>
</nav>
