{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Yagura {% block subtitle %}{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link rel="stylesheet" href="{% static 'layout.css' %}">
  </head>

  <body>
    <header class="nav">
      <nav class="navbar is-fixed-top is-dark">
        <div class="navbar-brand">
          {% if request.user.is_anonymous %}
            {% url 'index' as url_brand_ %}
          {% else %}
            {% url 'sites:list' as url_brand_ %}
          {% endif %}
          <a class="navbar-item" href="{{ url_brand_ }}">
            <strong>Yagura</strong>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <!-- navbar items -->
          </div>
        
          <div class="navbar-end">
            {% if request.user.is_anonymous %}
              {% url 'login' as url_login_ %}
              <div class="buttons has-addons">
                <a class="button" href="{{ url_login_ }}">Log in</a>
                {% if ENABLE_PASSWORD_REGISTRATION %}
                  {% url 'registration_register' as url_register_ %}
                  <a class="button" href="{{ url_register_ }}">Register</a>
                {% endif %}
              </div>
            {% else %}
              <!-- navbar items -->
              <div class="navbar-item has-dropdown">
                <a class="navbar-link">
                  {{ request.user.full_name|default:request.user }}
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'accounts:profile' %}">{% trans 'Profile' %}</a>
                    <a class="navbar-item" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
                </div>
            </div>
            {% endif %} 
          </div>
        </div>
      </nav>

    </header>

    <main class="section">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="footer">
      <div class="content has-text-right">
        <p>
          Powered by <strong>Yagura v{{ YAGURA_VERSION }}</strong>
        </p>
      </div>
    </footer>
  </body>
</html>
