{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <div class="columns">
    <div class="column is-one-fifth is-tablet">
      <aside class="menu">
        <ul class="menu-list">
          <li>
            <a class="nav-link" href="{% url 'sites:list' %}">
              {% trans 'List of web sites' %}
            </a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'logout' %}">
              {% trans 'Log out' %}
            </a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="column">
      {% block content_main %}{% endblock %}
    </div>
  </div>
{% endblock %}
