{% load static %}

{# Site overview for sites:site-list (row of table) #}
<div class="box" style="max-height: 150px;">
  <article class="media">
    <div class="media-left">
      <img src="{{ history.status_image_url }}">    
    </div>
    <div class="media-content">
      <div class="content">
        <h2 class="subtitle">{{ site.url }}</h2>
        <p>
          Current status from {{ history.begin_at }}
          <a href="{% url 'sites:detail' site.id %}">
            (show detail)
          </a>
        </p>
      </div>
    </div>
  </article>
</div>
