{% load static %}
{% load url_filter %}

{# Site overview for sites:site-list (row of table) #}
<div class="box" style="max-height: 150px;">
  <article class="media">
    <div class="media-left">
      <img src="{{ history.status_image_url }}">
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ site.display_name|guard_basic_auth }}</strong>
        </p>
        <p>
          Current status from {{ history.begin_at }}
          <a href="{% url 'sites:detail' site.id %}">
            (show detail)
          </a>
        </p>
      </div>
    </div>
  </article>
</div>
