{# Site overview for sites:site-list (row of table) #}
<li class="list-group-item">
  {# Add badge for latest state #}
  {% if history.state == "OK" %}
  <span class="label label-success">OK</span>
  {% elif history.state == "NG" %}
  <span class="label label-danger">NG</span>
  {% else %}
  <span class="label label-default">Unknown</span>
  {% endif %}

  <a href="{% url 'sites:detail' site.id %}">
    <strong>{{ site.url }}</strong>
  </a>

  <small>(from {{ history.begin_at }})</small>
</li>
