{% extends 'layouts/two_pane.html' %}
{% load bootstrap4 %}

{% block content_main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{% trans 'List of web sites' %}</h2>
    {% trans 'Add new site' as site_create_label %}
    {% bootstrap_button site_create_label 'button' 'btn-outline-primary' href='/sites/new' %}
  </div>
  <div class="input-group">
    {% if request.GET.all == '1' %}
      <input id="chk-site-list-all" type="checkbox" class="form-control" aria-label="Show all" checked>
    {% else %}
      <input id="chk-site-list-all" type="checkbox" class="form-control" aria-label="Show all">
    {% endif %}
    <label>Show all</label>
    <script>
      document.getElementById('chk-site-list-all').addEventListener('click', function(e) {
        if (e.target.checked) {
          location.href = '?all=1'
        } else {
          location.href = '?'
        }
      })
    </script>
  </div>
  <div>
    <ul class="list-group">
      {% for site in site_list %}
        <li class="list-group-item">
          {% include 'sites/_site_overview.html' with site=site history=site.states.last %}
        </li>
      {% endfor %}
    <ul>
  </div>
  <hr>
  <!-- TODO: I want to centering paginator -->
  <div>
      {% if request.GET.all == '1' %}
        {% bootstrap_pagination page_obj size='small' url='?all=1' %}
      {% else %}
        {% bootstrap_pagination page_obj size='small' %}
      {% endif %}
  </div>
{% endblock %}
