{% extends 'layouts/two_pane.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content_main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{% trans 'Site detail' %}</h2>
    {% if site.created_by == request.user %}
      {% url 'sites:delete' site.id as url_to_sites_delete %}
      {% bootstrap_button 'Delete' 'link' href=url_to_sites_delete %}
    {% endif %}
  </div>
  {# TODO: Refactor struct of site information #}
  <div>
    <p>{% trans 'Site URL' %}: <a href="{{ site.url }}" target="_blank">{{ site.url }}</a></p>
    <p>{% trans 'Excepted HTTP status code' %}: {{ site.ok_http_status }}</p>
    <p>
      Menu:
      <ul>
        <li>Email notifications:
          {% url 'notifications:list-email-recipient' site.id as url_to_list_notifications %}
          {% bootstrap_button 'Show' 'button' href=url_to_list_notifications size='xs' %}
          {% url 'notifications:add-recipient' site.id as url_to_add_notification %}
          {% bootstrap_button 'Add' 'button' href=url_to_add_notification size='xs' %}
        </li>
      </ul>
      <ul>
        <li>Slack notifications:
          {% url 'notifications:list-slack-recipient' site.id as url_to_add_notification %}
          {% bootstrap_button 'Show' 'button' href=url_to_add_notification size='xs' %}
          {% url 'notifications:add-slack-recipient' site.id as url_to_add_notification %}
          {% bootstrap_button 'Add' 'button' href=url_to_add_notification size='xs' %}
        </li>
      </ul>
    </p>
  </div>
  <div>
    <h3>History</h3>
    <table class="table keyvalue_table">
      <tbody>
        <tr>
          <th>{% trans 'State' %}</th><td>{% trans 'Range' %}</td><td>{% trans 'Reason' %}</td>
        </tr>
        {% for history in site.states.all reversed %}
        <tr>
          <td>{{ history.state }}</td>
          <td>{{ history.begin_at }} - {{ history.updated_at }} {% if forloop.first %}(now){% endif %}</td>
          <td>{{ history.reason }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
