{% extends 'layouts/two_pane.html' %}

{% block content_main %}
  <div class="level">
    <h1 class="title">{% trans 'List of web sites' %}</h1>
    <a class="button is-link is-pulled-right" href="/sites/new">{% trans 'Add new site' %}</a>
  </div>
  <div class="tile is-vertical">
    {% for site in site_list %}
      {% include 'sites/_site_overview.html' with site=site history=site.states.last %}
    {% endfor %}
  </div>
  <hr>
  <!-- TODO: I want to centering paginator -->
  <div>
    {% include 'pagination.html' %}
  </div>
{% endblock %}
