{% extends 'layouts/two_pane.html' %}
{% load bootstrap4 %}

{% block content_main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2>{% trans 'List of notifications' %}</h2>
</div>
<div>
  <ul class="list-group">
    <li class="list-group-item">
      {{ site.created_by.email }} <strong>(owner)</strong>
    </li>
    {% for recipient in extrarecipient_list %}
    <li class="list-group-item">
      {{ recipient.email }}
      {% if not recipient.enabled %}
      (not yet enabled)
      {% endif %}
      <div class="btn-group float-right">
        {% url 'notifications:delete-extra-recipient' recipient.id as link_ %}
        {% bootstrap_button 'Delete' 'button' 'btn-danger' href=link_ size='xs' %}
      </div>
    </li>
    {% endfor %}
  <ul>
</div>
{% endblock %}
