html {
    position: relative;
    min-height: 100%;
}

main {
    margin-top: 1rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    padding: 1rem 2rem 2rem;
}
