{% extends 'layouts/two_pane.html' %}
{% load i18n %}
{% load bootstrap4 %}

{% block content_main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{% trans 'Site detail' %}</h2>
    {% if site.created_by == request.user %}
      {% url 'sites:delete' site.id as url_to_sites_delete %}
      {% bootstrap_button 'Delete' 'link' href=url_to_sites_delete %}
    {% endif %}
</div>
<div>
  <p>Target: {{ site.url }}</p>
  {% if site.created_by == request.user %}
    <p>
      Menu:
    {% url 'notifications:list-extra-recipient' site.id as url_to_list_notifications %}
    {% bootstrap_button 'Show notifications' 'button' href=url_to_list_notifications size='xs' %}
    {% url 'notifications:add-extra-recipient' site.id as url_to_add_notification %}
    {% bootstrap_button 'Add notification' 'button' href=url_to_add_notification size='xs' %}
    </p>
  {% endif %}
</div>
<div>
  <h3>History</h3>
  <table class="table keyvalue_table">
    <tbody>
      <tr>
        <th>{% trans 'State' %}</th><td>{% trans 'Range' %}</td>
      </tr>
      {% for history in site.states.all reversed %}
      <tr>
        <td>{{ history.state }}</td>
        <td>{{ history.begin_at }} - {{ history.updated_at }} {% if forloop.first %}(now){% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
