{% extends 'layouts/two_pane.html' %}
{% load yagura_notifications %}
{% load url_filter %}

{% block content_main %}
  <h1 class="title">{% trans 'Confirm of deleteing recipient' %}</h1>
  <div class="content">
    <p>
      {% blocktrans with url=slackrecipient.site.url|guard_basic_auth %}Deleting notification for <strong>{{ url }}</strong>{% endblocktrans %}
    </p>
    {% can_delete slackrecipient request.user as can_delete_ %}
    {% if can_delete_ %}
    <form method="POST">
      {% csrf_token %}
      <button class="button is-danger" type="submit">{% trans 'Confirm' %}</button>
    </form>
    {% else %}
    <p>You do not have permission to delete this recipient</p>
    {% endif %}
  </div>
{% endblock %}
