{% extends 'layouts/two_pane.html' %}
{% load bootstrap4 %}
{# TODO: Need transration #}

{% block content_main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Add new notification recipient of Slack for {{ site.url }}</h2>
  </div>
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button 'Register' 'submit' %}
    </form>
  </div>
{% endblock %}
