{% extends 'layouts/two_pane.html' %}
{% load bootstrap4 %}
{# TODO: Need transration #}
{% load yagura_notifications %}

{% block content_main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>
      {% trans 'List of Slack recipient' %}
      <small><a href="{% url 'sites:detail' site.id %}">&lt;&lt; back to site detail</a></small>
    </h2>
  </div>
  <div>
    <p>
      {% url 'notifications:add-slack-recipient' site.id as url_to_add_notification %}
      {% bootstrap_button 'Add notification' 'link' href=url_to_add_notification size='xs' %}
    </p>
    <ul class="list-group">
      {% for recipient in slackrecipient_list %}
      <li class="list-group-item">
        {{ recipient.url }}
        <div class="btn-group float-right">
          {% can_delete recipient request.user as can_delete_ %}
          {% if can_delete_ %}
            {% url 'notifications:delete-slack-recipient' recipient.id as link_ %}
            {% bootstrap_button 'Delete' 'button' 'btn-danger' href=link_ size='xs' %}
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
