{% extends 'layouts/two_pane.html' %}
{% load bootstrap4 %}
{% load yagura_notifications %}

{% block content_main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2>{% trans 'Confirm of deleteing recipient' %}</h2>
  </div>
  <div>
    <p>
      {% blocktrans with url=slackrecipient.site.url %}Deleting notification for <strong>{{ url }}</strong>{% endblocktrans %}
    </p>
  </div>
  <div>
    {% can_delete slackrecipient request.user as can_delete_ %}
    {% if can_delete_ %}
      <form method="POST">
        {% csrf_token %}
        {% trans 'Confirm' as confirm_label %}
        {% bootstrap_button confirm_label 'submit' %}
      </form>
    {% else %}
      <p>You do not have permission to delete this recipient</p>
    {% endif %}
  </div>
{% endblock %}
