{% extends 'layouts/single_page.html' %}

{% block subtitle %}- {% trans 'Simple website monitoring' %}{% endblock %}

{% block content_main %}
  <section class="text-center">
    <h1>Yagura</h1>
    <p class="lead text-muted">{% trans 'Simple website monitoring' %}</p> 
    {% if ENABLE_PASSWORD_REGISTRATION %}
    <p>
      <a href="{% url 'login' %}" class="btn btn-primary my-2">{% trans 'Log in' %}</a>
      {% trans 'or' %}
      <a href="{% url 'registration_register' %}" class="my-2">{% trans 'Registration user' %}</a>
    </p>
    {% else %}
    <p>
      <a href="{% url 'login' %}" class="btn btn-primary my-2">
          {% trans 'Log in' %}/{% trans 'Registration user' %}</a>
    </p>
    {% endif %}
  </section>
{% endblock %}
