{% extends 'layouts/single_page.html' %}
{% load bulma_tags %}

{% block content_main %}
  <h1 class="title">{% trans 'Log in' %}</h1>
  <div class="columns">
    {% if ENABLE_PASSWORD_REGISTRATION %}
    <div class="column">
      {% trans 'username/password' as trans_username_password %}
      <h2 class="subtitle">{% blocktrans with by_name=trans_username_password %}Auth by {{ by_name }}{% endblocktrans %}</h2>
      <form method="POST">
        {% csrf_token %}
        {{ form|bulma }}
        <div class="field">
          <button type="submit" class="button is-primary">{% trans 'Log in' %}</button>
        </div>
      </form>
    </div>
    {% endif %}
    <div class="column">
      {% trans 'social accounts' as trans_social_accounts %}
      <h2 class="subtitle">{% blocktrans with by_name=trans_social_accounts %}Auth by {{ by_name }}{% endblocktrans %}</h2>
      {% include 'registration/_snippets/social-auth.html' %}
    </div>
  </div>
{% endblock %}
